.Moviecontainer {
  margin: 0 auto;
}

.movieList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.ListCard {
  padding: 30px 30px;
}

.seendicon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.featuretxts {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 30px 0px;
}

.seendicon {
  cursor: pointer;
}

.seendicon img {
  height: 17px;
  width: auto;
  padding-left: 10px;
}

.seendicon a {
  color: #be123c;
}
