.HeaderBg {
  background: url(../Assets/Poster.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #100f49;
  padding: 30px 40px;
}

.HeaderDiv {
  display: flex;
  justify-content: space-between;
}
