.HeroStyles {
  padding: 130px 30px;
}

.HeroStyles h2 {
  font-size: 60px;
  width: 35%;
  color: white;
}

.HeroStyles .describep {
  color: white;
  font-size: 16px;
  width: 40%;
  line-height: 35px;
  text-align: left;
}

.ratings {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 25px 0px;
}
.imdbimg {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imdbimg p {
  color: #e4dede;
  font-size: 14px;
}

.ratep {
  padding-right: 30px;
  padding-left: 8px;
}

.rateptwo {
  padding-left: 10px;
  padding-right: 30px;
}

.herobtn {
  background-color: #be123c;
  color: #e4dede;
  padding: 18px 40px;
  border: #be123c 1px solid;
  border-radius: 6px;
  margin: 30px 0px;
  cursor: pointer;
}

.imgtexts {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
}

.imgtexts img {
  padding-right: 13px;
  width: 40px;
}

@media(max-width:1100px) {
  .HeroStyles h2  {
    width: 45%;
  }

  .HeroStyles .describep{
    width:60%;
  }
}

@media(max-width:930px) {
  .HeroStyles h2  {
    width: 55%;
    font-size: 50px;
  }
}

@media(max-width:750px)  {
  .HeroStyles {
    padding: 90px 15px;
  }
  
  .HeroStyles .describep{
    width:75%;
    font-size: 14px;
  }
}

@media(max-width:650px) {
  .HeroStyles h2  {
    width: 75%;
    font-size: 50px;
  }
}

@media(max-width:510px) {
  .HeroStyles h2  {
    width: 85%;
    font-size: 45px;
  }

  .herobtn     {
    padding: 15px 25px;
  }

  .HeroStyles .describep{
    width:85%;
    font-size: 14px;
  }
}

@media(max-width:430px) {
  .HeroStyles {
    padding: 70px 10px;
  }
  .HeroStyles h2  {
    width: 95%;
    font-size: 40px;
  }
  .HeroStyles .describep{
    width:100%;
    font-size: 12px;
  }
  
}

@media(max-width:390px) {
  .HeroStyles h2  {
    width: 100%;
    font-size: 35px;
  }
}

@media(max-width:315px) {
  .HeroStyles h2  {
    width: 100%;
    font-size: 25px;
  }
}


