.searchContainer {
  position: relative;
  width: 450px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.searchInput {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 8px;
  background-color: transparent;
  font-family: "DM Sans", sans-serif;
  color: white;
  font-size: 14px;
}

.searchIcon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

@media(max-width:790px) {
  .searchContainer  {
    width: 350px;
  }
}

@media(max-width:600px) {
  .searchContainer  {
    width: 250px;
    padding-left: 20px;
  }
}

@media(max-width:500px) {
  .searchContainer  {
    width: 200px;
    padding-left: 20px;
  }
}

@media(max-width:380px) {
  .searchContainer  {
    width: 100px;
    padding-left: 20px;
    overflow: hidden;
  }
}